.grid__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
}

.perfil__columna1 {
    grid-column: 1 / 3;
    width: 90%;
}

.perfil__columna1 p {
    margin: 40px 0;
}

.perfil__columna1 h1:nth-child(3){
    font-weight: 600;
}

.perfil__opc_cursos {
    display: flex;
    justify-content: space-between;
}

.perfil__opc_cursos p {
    color: #65747e;
}

.perfil__mis_cursos {
    max-height: 750px;
    overflow-y: scroll;
}

.curso__guardado {
    display: flex;
    gap: 20px;
    padding: 20px 0;
    justify-content: space-between;
}

.curso__guardado_info img {
    width: 200px;
}

.curso__guardado_info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.curso__guardado_detalles {
    display: flex;
    flex-direction: column;
    height: 100px;
}

.curso__guardado_detalles p {
    margin-top: 10px;
    font-weight: 100;
    font-size: 13px;
}

.curso__guardado_detalles h2 {
    font-weight: 600;
}

.curso__guardado a {
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    height: 50px;
    width: 150px;
    text-align: center;
    border: 1px solid #65747e;
    margin-top: 10px;
}

.perfil__columna2 {
    padding: 30px 30px 10px;
    border: 1px solid #65747e;
}

.perfil__columna2 h1 {
    font-weight: 600;
}

.perfil__columna2 form .form__group {
    margin-top: 50px;
    position: relative;
}

.perfil__columna2 form .form__group label {
    position: absolute;
    left: 0;
    top: -20px;
}

.perfil__columna2 form .form__group input {
    margin-top: 20px;
    height: 50px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #65747e;
    outline: none;
    background-color: inherit;
    color: #fff;
}

.perfil__columna2 form .form__group input:focus {
    background-color: #171717;
    transition: .3s background;
}

.form__email {
    display: flex;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}

.form__botones {
    margin: 20px 0 40px;
    display: flex;
    gap: 20px;
}

.form__botones button {
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: #fff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.form__reset_pass, .form__logout {
    padding: 40px 0;
}

.form__reset_pass h2, .form__logout h2 {
    font-size: 2rem;
    font-weight: 600;
}

.form__reset_pass a {
    display: inline-block;
    margin-top: 20px;
    color: #fff;
}

.form__logout a {
    display: inline-block;
    margin-top: 30px;
    color: #fff;
    background-color: #333333;
    height: 50px;
    width: 120px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-weight: 600;
}

@media (max-width: 1020px) {
    .grid__contenedor {
        grid-template-columns: 1fr;
    }

    .perfil__columna1 {
        width: 100%;
        margin-bottom: 50px;
    }

    
}

@media (max-width: 570px){
    .nav__contenedor {
        padding: 16px 10px;
    }
    .curso__guardado {
        flex-direction: column;
    }

    .curso__guardado_info {
        flex-direction: column;
        align-items: flex-start;
    }

    .curso__guardado_info img {
        width: 100%;
    }
    .curso__guardado a {
        width: 100%;
        margin-top: -20px;
    }
}