<link rel="stylesheet" href="assets/custom/css/about.css">

<div class="contenedor">
    <div class="hero">
        <div class="hero__contenedor">
            <h1><span class="gradient">Educación</span> accesible y gratuita para todos</h1>
            <p>Porque creemos que la educación debe ser gratuita y accesible para todas las personas.</p>
        </div>
    </div>
</div>
<div class="hero__fondo"></div>
<div class="contenedor">
    <h1 class="sobre__nosotros_titulo">Nuestra historia</h1>
    <div class="sobre__nosotros">
        <div class="info__columna_1">
            <p>En el corazón de Byte-Master se encuentra una historia que comenzó como un proyecto apasionado dentro del curso de Desarrollo y Soporte de Aplicaciones Multiplataforma. Lo que comenzó como una visión compartida entre un grupo de entusiastas de la tecnología ha evolucionado para convertirse en una plataforma educativa líder en el ámbito digital.</p>
            <p>Byte-Master tuvo sus raíces en un aula de desarrollo, donde la búsqueda del conocimiento se mezcló con la emoción de explorar las infinitas posibilidades de la tecnología. Con el objetivo de proporcionar una educación de calidad y accesible en desarrollo de aplicaciones multiplataforma, nació la idea de Byte-Master.</p>
            <p>Desde entonces, hemos recorrido un camino emocionante. Cada línea de código escrita, cada desafío superado y cada módulo de aprendizaje creado ha sido parte fundamental de nuestra historia. Nos enorgullece ser un proyecto que crece constantemente, impulsado por la pasión por el desarrollo y el deseo de compartir ese conocimiento con el mundo.</p>
            
        </div>
        <div class="info__columna_2">         
            <p>Byte-Master no es solo una plataforma de cursos; es una comunidad de aprendices y creadores. En cada paso, nos esforzamos por mantener la excelencia educativa y proporcionar recursos que no solo enseñan habilidades técnicas, sino que también inspiran la creatividad y la innovación.</p>
            <p>Hoy, Byte-Master se ha convertido en una referencia en el ámbito de Desarrollo y Soporte de Aplicaciones Multiplataforma. Estamos emocionados de seguir creciendo y evolucionando, y queremos que tú seas parte de esta historia. Únete a nosotros en Byte-Master y sé parte de la próxima generación de desarrolladores de aplicaciones multiplataforma.

¡Tu viaje de aprendizaje comienza aquí, en Byte-Master!</p>
            
        </div>
    </div>
    <div class="nuestro__equipo">
        <h1>Conozca a nuestro <span class="gradient">equipo</span> de liderazgo</h1>
        <div class="nuestro__equipo_contenedor">
            <div class="tarjeta__personal"  >
                <img src="/assets/img/alejandro.jpeg"
                    alt="">
                <h1>Alejandro</h1>
                <p>Fundador</p>
            </div>
            <div class="tarjeta__personal" >
                <img src="/assets/img/wil.jpeg"
                    alt="">
                <h1>Wilson</h1>
                <p>Fundador</p>
            </div>
            <div class="tarjeta__personal"  >
                <img src="/assets/img/kenyi.jpeg"
                    alt="">
                <h1>kenyi</h1>
                <p>Fundador</p>
            </div>
            <div class="tarjeta__personal"  >
                <img src="/assets/img/david.jpeg"
                    alt="">
                <h1>David</h1>
                <p>Fundador</p>
            </div>
        </div>
    </div>
</div>
<section class="suscribirse">
    <div class="suscribirse__textos">
        <h2>Mantente al tanto</h2>
        <p>Siempre estamos agregando nuevos cursos a nuestro sitio web. Suscríbase a nuestro boletín para ser el primero
            en enterarse de nuestras últimas ofertas.</p>
    </div>
    <div class="suscribirse__form">
        <form action="">
            <input type="text">
            <button>Suscribirse</button>
        </form>
    </div>
</section>