<link rel="stylesheet" href="assets/custom/css/about.css">

<div class="contenedor">
    <div class="hero">
        <div class="hero__contenedor">
            <h1><span class="gradient">Educación</span> accesible y gratuita para todos</h1>
            <p>Porque creemos que la educación debe ser gratuita y accesible para todas las personas.</p>
        </div>
    </div>
</div>
<div class="hero__fondo"></div>
<div class="contenedor">
    <h1 class="sobre__nosotros_titulo">Nuestra historia</h1>
    <div class="sobre__nosotros">
        <div class="info__columna_1">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Tempor nec
                feugiat nisl pretium. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Eu
                facilisis sed odio morbi quis commodo odio. Ornare quam viverra orci sagittis.</p>
            <p>Phasellus vestibulum lorem sed risus. Amet dictum sit amet justo donec enim diam. Enim tortor at auctor
                urna. Arcu cursus vitae congue mauris rhoncus aenean vel. Arcu cursus vitae congue mauris.</p>
            <p>Varius vel pharetra vel turpis nunc eget. Mattis molestie a iaculis at. At volutpat diam ut venenatis.
                Nullam non nisi est sit amet facilisis magna. Scelerisque in dictum non consectetur a erat. Vitae tortor
                condimentum lacinia quis vel eros donec ac odio.</p>
        </div>
        <div class="info__columna_2">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod br tempor incididunt ut labore et
                dolore magna aliqua.</p>
            <p>Blandit volutpat maecenas volutpat blandit aliquam etiam erat velit. Tempor nec feugiat nisl pretium.
                Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Eu facilisis sed odio morbi quis
                commodo odio.</p>
            <p>Ornare quam viverra orci sagittis. Phasellus vestibulum lorem sed risus. Amet dictum sit amet justo donec
                enim diam. Enim tortor at auctor urna. Arcu cursus vitae congue mauris rhoncus aenean vel. Arcu cursus
                vitae congue mauris. Varius vel pharetra vel turpis nunc eget. Mattis molestie a iaculis at. At volutpat
                diam ut venenatis. Nullam non nisi est sit amet facilisis magna. Scelerisque in dictum non consectetur a
                erat. Vitae tortor condimentum lacinia quis vel eros donec ac odio.</p>
        </div>
    </div>
    <div class="nuestro__equipo">
        <h1>Conozca a nuestro <span class="gradient">equipo</span> de liderazgo</h1>
        <div class="nuestro__equipo_contenedor">
            <div class="tarjeta__personal">
                <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426c61acf7f89f967972d83_unsplash_D6t70k8F28w-min-p-500.jpeg"
                    alt="">
                <h1>Jake</h1>
                <p>Fundador</p>
            </div>
            <div class="tarjeta__personal">
                <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426c6270cccc18070ed5fc4_unsplash_K84vnnzxmTQ-min-p-500.jpeg"
                    alt="">
                <h1>Jordan</h1>
                <p>Fundador</p>
            </div>
            <div class="tarjeta__personal">
                <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6426c62f2c929afc7af0b48d_unsplash_yFoZ6B6KGN8-min-p-500.jpeg"
                    alt="">
                <h1>Vanya</h1>
                <p>Fundador</p>
            </div>
        </div>
    </div>
</div>
<section class="suscribirse">
    <div class="suscribirse__textos">
        <h2>Mantente al tanto</h2>
        <p>Siempre estamos agregando nuevos cursos a nuestro sitio web. Suscríbase a nuestro boletín para ser el primero
            en enterarse de nuestras últimas ofertas.</p>
    </div>
    <div class="suscribirse__form">
        <form action="">
            <input type="text">
            <button>Suscribirse</button>
        </form>
    </div>
</section>