<link rel="stylesheet" href="assets/custom/css/all-courses.css">
<link rel="stylesheet" href="assets/custom/css/support.css">
<link rel="stylesheet" href="assets/custom/css/course-preview.css">

<div class="hero__support">
    <h1>Bienvenido a soporte</h1>
    <p>Nuestro equipo de atención al cliente está en todo el mundo, listo y emocionado de ayudar.</p>
</div>

<div class="contenedor">
    <section class="faq">
        <h1><span class="gradient">Preguntas</span> frecuentes</h1>
        <div class="preguntas">
            <div id="ver_respuesta" class="pregunta__contenedor">
                <div class="pregunta">
                    <p>¿Cómo accedo a los cursos en línea disponibles en la plataforma?</p>
                    <img id="pregunta_flecha" src="assets/icons/arrow.svg" alt="">
                </div>
                <div class="respuesta">
                    Para acceder a los cursos en línea disponibles, generalmente debes iniciar sesión en la plataforma con tu cuenta de usuario. Si aún no tienes una cuenta, es posible que necesites registrarte. Una vez dentro, busca la sección de cursos o catálogo, donde encontrarás la lista de cursos disponibles. Desde allí, puedes explorar y seleccionar los cursos que te interesen para comenzar a aprender.
                </div>
            </div>
            <div id="ver_respuesta" class="pregunta__contenedor">
                <div class="pregunta">
                    <p>¿Cuál es el proceso de inscripción y pago para los cursos?</p>
                    <img id="pregunta_flecha" src="assets/icons/arrow.svg" alt="">
                </div>
                <div class="respuesta">
                    El primer proceso para poder acceder al curso es registrarte para poder acceder a visualizar el curso.
                </div>
            </div>
            <div id="ver_respuesta" class="pregunta__contenedor">
                <div class="pregunta">
                    <p>¿Qué recursos y herramientas de aprendizaje ofrecen para maximizar la comprensión del contenido?</p>
                    <img id="pregunta_flecha" src="assets/icons/arrow.svg" alt="">
                </div>
                <div class="respuesta">
                    Los recurso y herramientas que utilizamos para maximizar el aprendizaje y comprensión del contenido del curso son videos explicativos al maximo detalle para la comprensión.
                </div>
            </div>
            <div id="ver_respuesta" class="pregunta__contenedor">
                <div class="pregunta">
                    <p>¿Existe algún tipo de soporte técnico o servicio de atención al cliente disponible para resolver dudas o problemas durante el curso?</p>
                    <img id="pregunta_flecha" src="assets/icons/arrow.svg" alt="">
                </div>
                <div class="respuesta">
                    Si existe, El area de soporte se encarga de brindar atencion a nuestros alumnos 24/7 con cualquier duda con respecto a la plataforma. de la misma manera recibimos retroalimentación para poder mejorar nuestra plataforma y brindar un excelente servicio.
                </div>
            </div>
        </div>
        <p style="text-align: center;">¿Tiene alguna pregunta que no tiene respuesta? Puedes contactarnos en <a href=""
                style="color: #fff;">hello@bytemasters.com</a></p>
    </section>
    <section class="contacto">
        <hr style="margin-top: 50px;">
        <div class="grid__contenedor" style="margin-top: 50px;">
            <div class="contacto__columna1">
                <div class="contacto__culumna1_p1">
                    <img src="assets/icons/time.svg" alt="">
                    <h1>¿No has encontrado tu pregunta?</h1>
                    <p>Envíanos un correo electrónico a <a href="">hello@bytemasters.com</a> <br> o rellena el formulario
                    </p>
                </div>
                <div class="contacto__columna1_p2">
                    <h3>Siguenos:</h3>
                    <div class="contacto__redes">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5cffa2b941e8a4dd25_Instagram.svg"
                            alt="">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5c440efd609b83f245_Twitter.svg"
                            alt="">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5ca249aa5f7649602a_Facebook.svg"
                            alt="">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5d242b09573aa4d6cd_TikTok.svg"
                            alt="">
                        <img src="https://assets.website-files.com/640849338ea47b23b7234a7e/6425ac5c12f1b4e5ea15a017_YouTube.svg"
                            alt="">
                    </div>
                </div>
            </div>
            <div class="contacto__columna2">
                <form action="https://formsubmit.co/wilsoncueva714@gmail.com" method="POST">
                    <input name="name" type="text" placeholder="Nombre">
                    <input name="email" type="text" placeholder="Email">
                    <input name="number" type="text" placeholder="963357835">
                    <textarea name="messages" id="" cols="30" rows="10" placeholder="Escribe algo aqui..."></textarea>
                    <button type="submit" >Enviar mensaje</button>
                </form>
            </div>
        </div>
    </section>
</div>
<hr style="margin-top: 50px;">